QLabel#countLabel {color: #909090;}

QWidget#editor {background-color: #e8f5ff;}

QListView#nList {
    background-color: #f2f1e7;
    border: 0px;
    margin-top: 1px;
}

QListWidget#tList {
    background-color: #eab68a;
    border: 0px;
}

QMainWindow QSplitter::handle {background: #b53d00;}

QMainWindow QToolBar {
    background: #f2f1e7;
    border-bottom: 1px solid #b53d00;
    padding: 2px;
    spacing: 2px
}